.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(40, 57, 101, .9);
}

.login-form {
  min-height: 345px;
  perspective: 1000px;
}

.group {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, .1);
}

.input_warning {
  width: 100%;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 156, 156, 0.945);
}

.texto {
  color: #fff;
}

.foot-lnk {
  text-align: center;
}

ion-button {
  --background: #151A28;
  --color: #fff;
  --border:none;
	--padding:15px 20px;
	--border-radius:25px;
}
