
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center full-width login-html">
      <div class="container-fluid d-flex justify-content-center align-items-center mt-4">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form needs-validation" novalidate>

          <div class="sign-in-htm">
            <h3 class="texto h3 mb-3 fw-normal m-auto">Ingresar credenciales</h3>
  
            <div *ngIf="alert!=''" class="alert alert-danger input_warning">
              {{alert}}
            </div>
  
  
            <div class="form-floating group">
              <ion-label position="floating" for="mail" class="texto">Correo</ion-label>
              <ion-input formControlName="mail" name="mail" type="email" class="form-control input px-3" id="floatingInput" value="{{mail}}" (keyup.enter)="login()"></ion-input>
              @if(loginForm.get('mail'); as aux) {
                @if(aux.invalid && (aux.dirty || aux.touched)){
                    <div class="alert alert-danger input_warning">
                        {{aux.hasError('required') ? 'Ingresá tu correo.' : 'Ingresá un correo válido.'}}
                    </div>
                }
            }
            </div>
  
            <div class="form-floating group">
              <ion-label position="floating" for="pass" class="texto">Contraseña</ion-label>
              <ion-input formControlName="pass" name="pass" type="password" class="form-control input px-3" id="floatingPassword"  value="{{pass}}" (keyup.enter)="login()"></ion-input>
              @if(loginForm.get('pass'); as aux) {
                @if(aux.invalid && (aux.dirty || aux.touched)){
                    <div class="alert alert-danger input_warning">
                        {{aux.hasError('required') ? 'Ingresá tu contraseña.' : 'Mínimo 6 caracteres.'}}
                    </div>
                }   
            }
            </div>
  
            <div class="">
              <ion-button class="button w-100 py-2 mb-3" type="submit">Iniciar sesión</ion-button>
            </div>
  
          </div>
        </form>
      </div>

      <div>
        <img src="./../../../assets/img/logo.svg" alt="">
      </div>
      

    </div>

    <div class="container-fluid d-flex justify-content-center align-items-center full-width my-3">
      <ion-button (click)="buttonDemoUno()">Admin</ion-button>
      <ion-button (click)="buttonDemoDos()">Tester</ion-button>
      <ion-button (click)="buttonDemoTres()">Usuario</ion-button>
    </div>
